/* Hero */
/* Hero title*/
/* Overlay */
.img-hero {
    // max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(var(--background-hero-image), var(--background-hero-image)),
        url('../images/imghero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

     @media screen and (min-width:480px) {
        width: 480px;
    }

    @media screen and (min-width:768px) {
        width: 768px;
    }
}

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-color-hero);
    align-items: center;
    text-align: center;

        @media screen and (min-width:480px) {
            width: 480px;
            display: block;
        }

        @media screen and (min-width:768px) {
             width: 768px;
             display: block;
    }

        @media screen and (min-width:1200px) {
            width: 1200px;
            display: flex;
        }
    
    &__title {
            max-width: 696px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
    
            color: var(--primary-color);
            letter-spacing: 0.06em;
            text-transform: uppercase;
            font-weight: 900;
           
            
            @media screen and (min-width:480px) {
                    width: 480px;           
                    font-size: 26px;
                    line-height: 1.62;           
            
                }

            @media screen and (min-width:1200px) {
                    width: 1200px;
                    font-size: 44px;
                    line-height: 1.36;
                }
        }
       

                

}



